{% extends '@SFAdminLTE3/base/base_skeleton.html.twig' %}

{% block body %}
    <div class="show-content">
        {% block content %}
            {{ "block content" }}
        {% endblock content %}
    </div>

    <div class="card-footer text-right actions-form">
        {% block action_buttons %}
{#            {% import '@SFAdminLTE3/default/buttons.html.twig' as buttons %}#}
{#
{{ buttons.save() }}
{{ buttons.delete({ entity: requirement, action: path('m_requirement_delete', {'id': requirement.id}) }) }}
#}
              {{ "block action_buttons" }}
        {% endblock action_buttons %}
    </div>
{% endblock body %}